@model OPIDDaily.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" />

<div class="login">
    @using (Html.BeginForm("ChangePassword", "FrontDesk", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h1>Change Password</h1>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <p>@Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old password" })</p>
        <p>@Html.PasswordFor(m => m.NewPassword, new { placeholder = "New password" })</p>
        <p>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm new password" })</p>
        <p class="submit"><input type="submit" value="Change Password"></p>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}