<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Here to Serve</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mvc5datatables")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-expand navbar-inverse fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Home", "BackOffice", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Dashboard", "ManageDashboard", null, "BackOffice", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Demographics", "GetDemographicInfo", null, "BackOffice", new { @class = "nav-link" })</li>
                   <!-- <li class="nav-item">@Html.ActionLink("Service Request", "ServiceRequest", "BackOffice", null, new { @class = "nav-link" })</li> -->
                    <li class="nav-item">@Html.ActionLink("Service Ticket", "BackOfficeServiceTicket", "BackOffice", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Pocket Checks", "ManagePocketChecks", "BackOffice", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("PCR", "PocketChecksReport", "BackOffice", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Merge", "Merge", "BackOffice",null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Resolved", "Resolved", "BackOffice", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("RChecks", "RecentChecks", "BackOffice", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("AChecks", "AncientChecks", "BackOffice", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_EnvironmentPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
