<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Here to Serve</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>

<body>

    <div class="navbar navbar-expand-md navbar-inverse fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-collapse collapse">      
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Home", "CaseManager", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Clients", "ManageMyClients", "CaseManager", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Demographics", "GetDemographicInfo", "CaseManager", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Service Request", "ServiceRequest", "CaseManager", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Gift Cards", "GiftCardsRequest", "CaseManager", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Service Ticket", "PrepareCaseManagerServiceTicket", "CaseManager", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_EnvironmentPartial")       
            </div> 
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
