@model OPIDDaily.Models.GiftCardInventoryViewModel

<div class="form-group">
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.METROCards20, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.METROCards20, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.VisaCards20, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.VisaCards20, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.METROCards30, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.METROCards30, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.VisaCards30, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.VisaCards30, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.METROCards40, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.METROCards40, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.VisaCards40, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.VisaCards40, new { @class = "control-label" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.METROCards50, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.METROCards50, new { @class = "control-label" })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.VisaCards50, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m.VisaCards50, new { @class = "control-label" })
    </div>
</div>