<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Here to Serve</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mvc5datatables")
    @RenderSection("scripts", required: false)
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "GiftCards")</li>
                    <li>@Html.ActionLink("Dashboard", "ManageDashboard", "GiftCards")</li>
                    <li>@Html.ActionLink("Service Ticket", "GiftCardsServiceTicket", "GiftCards")</li>
                    <li>@Html.ActionLink("Assign Card(s)", "AssignRequestedCards", "GiftCards")</li>
                    <li>@Html.ActionLink("Gift Cards", "GiftCardsInventory", "GiftCards")</li>
                    <li>@Html.ActionLink("Pocket Checks", "ManagePocketChecks", "GiftCards")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_EnvironmentPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
