<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Here to Serve</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mvc5datatables")
    @RenderSection("scripts", required: false)
</head>

<body>
    <div class="navbar navbar-expand navbar-inverse fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Home", "Superadmin", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Users", "ManageUsers", "Users", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Roles", "ManageRoles", "Role", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Agencies", "ManageAgencies", "Agency", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("MBVD", "ManageMBVDS", "MBVD", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Clients", "ManageServiceDateClients", "Superadmin", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Rebuild", "Rebuild", "Superadmin", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Demo", "Demo", "Superadmin", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Recent Checks", "RecentChecks", "Superadmin", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Ancient Checks", "AncientChecks", "Superadmin", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Version", "Version", "Superadmin", new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_EnvironmentPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
