@model OPIDDaily.Models.RequestedServicesViewModel

@{
    ViewBag.Title = "Pocket Checks";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

<br /><br /><br /><br/>
<p>Please add a Pocket Check to represent a delivered gift card.</p>
<p>Use Item = MGC for METRO Gift Card and Item = VGC for VISA Gift Card. Use value of card for Check and use Status = Gift Card for each.</p>
<br/>
<div>
    <table id="pocketCheckGrid"></table>
    <div id="pocketCheckPager"></div>
</div>

<link href="@Url.Content("~/Content/jquery.jqGrid/copied.ui.jqgrid.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    var clientName = "@ViewBag.ClientName";
    function GetClientName() {
        return clientName;
    }
</script>
 
<script type="text/javascript" src="@Url.Content("~/Scripts/PocketChecks/BackOfficePocketChecks.js")"></script>

